.photos-holder{
  max-width: 40%;
  margin-top: 0.3em;
  display: flex;
  flex-wrap: wrap;
}

.photos-holder>img{
  height: 5em;
  border: 2px solid white;
  margin: 2px;
  margin-bottom: none;
  cursor: zoom-in;
}
